/*----- GLOBAL -----*/
body {
  color: #90918e;
  font-family: Verdana, Geneva, sans-serif;
  background: white; }

a {
  color: #fff; }

/*----- HEADER -----*/
.top-menu-links a {
  color: #90918e;
  line-height: inherit !important;
  cursor: auto !important;
  box-sizing: border-box !important;
  font-family: Verdana, Geneva, sans-serif !important;
  font-style: normal !important;
  font-weight: normal !important;
  text-align: left !important;
  text-decoration: none solid #90918e !important;
  font-size: 1rem !important; }

.block-imageblock-1 {
  margin-top: 25px;
  margin-bottom: 25px; }

#block-block-2 {
  background: #f2f2f2;
  margin-bottom: 1.25rem;
  border: #d8d8d8 1px solid; }

#main-menu {
  display: inline-block;
  margin: 20px; }

/*----- FOOTER -----*/
#zone-footer-wrapper {
  background-color: #8f918d; }

/*----- HOME -----*/
/*----- COURSE LIST -----*/
.view-course-listing .views-row {
  border-style: solid;
  border-width: 1px;
  border-color: #d8d8d8;
  margin-bottom: 1.25rem;
  padding: 1.25rem;
  background: #f2f2f2; }

.view-course-videos .views-row {
  border-style: solid;
  border-width: 1px;
  border-color: #d8d8d8;
  margin-bottom: 1.25rem;
  padding: 1.25rem;
  background: #f2f2f2; }

.oembed-title {
  display: none; }

#dialog {
  display: none; }
