body {
  color: #90918e;
  font-family: Verdana, Geneva, sans-serif;
  background: white; }

footer {
  background-color: #90918e; }

a {
  color: #e9e9e9; }

.top-menu-links a {
  color: #90918e;
  line-height: inherit !important;
  cursor: auto !important;
  box-sizing: border-box !important;
  font-family: Verdana, Geneva, sans-serif !important;
  font-style: normal !important;
  font-weight: normal !important;
  text-align: left !important;
  text-decoration: none solid #90918e !important;
  font-size: 1rem !important; }
